/* MAIN */
.a-info {
  display: block;
  width: 100%;
  margin-bottom: 100px;
}

.a-infot {
  margin-left: 40px;
  margin-right: 20px;
  margin-top: 80px;
}

.greeting {
  position: relative;
  font-family: "Vollkorn";
  font-size: 170px;
  font-weight: bolder;
  width: 90%;
  z-index: 50;
}

.rotate {
  animation: rotation 8s infinite linear;
  position: absolute;
  top: 150px;
  right: 100px;
  width: 500px;
  height: 500px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.a-infob {
  font-size: large;
  width: 100%;
  margin-top: 40px;
  font-family: "Vollkorn";
}

.link {
  display: flex;
  justify-content: space-between;
  font-size: 40px;
}

.link1,
.link2,
.link3 {
  font-family: "Vollkorn";
  text-decoration: none;
  margin-top: 30px;
  padding: 20px 0;
  margin-right: 35px;
  color: black;
}

.link1:hover,
.link2:hover,
.link3:hover {
  color: #00754b;
  border-bottom: 1px solid #00754b;
}

.pfp-cont {
  margin-top: 105px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.pfp-bg {
  width: 700px;
  height: 800px;
  background-color: black;
  position: relative;
  border-radius: 350px 350px 0 0;
}

.greet {
  background-color: white;
  width: 140px;
  font-size: small;
  font-weight: bold;
  padding: 15px;
  text-align: center;
  border-radius: 30px 30px 0 30px;
  position: absolute;
  top: 40px;
  display: none;
}

.pfp {
  position: absolute;
  top: 70px;
  transition: 0.3s;
  width: 700px;
}

.pfp:hover {
  top: 90px;
}

.scroll {
  display: none;
}

/* ACCORDIOIN */

.accordion {
  width: 100%;
  font-family: "Work sans";
}

.accordion-wrapper {
  margin-bottom: 2rem;
  box-shadow: var(--collapse-box-shadow);
  border: 3px solid var(--collapse-line-color);
}

details {
  background: var(--collapse-bg);
  color: var(--collapse-color);
}

details:not(:first-child) {
  border-top: 1px solid var(--collapse-line-color);
}

summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  list-style-type: none;
}

summary,
.details-info {
  padding: 1rem;
}

summary .icon {
  transition: transform 0.26s;
  color: var(--collapse-icon-color);
}

.details-info {
  border-top: 1px dashed var(--collapse-line-color);
}

details[open] summary .icon {
  transform: rotate(45deg);
}

/* You could try to add some css animation here, but in the end, it doesn't work that well, uncomment the following to try it out */
/*
details[open] .details-info {
  animation: growAndFadeIn .24s ease-out forwards;
}*/

/* some basic styling (added to the bottom for convenience) */
* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.title {
  font-size: 80px;
  font-family: "Vollkorn";
  font-weight: 500;
  color: #565656;
}

@keyframes growAndFadeIn {
  0% {
    font-size: 0;
    opacity: 0;
  }
  90% {
    font-size: 1em;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* WORKS SCROLL*/

.element-wrapper .element {
  height: 680px;
  width: 800px;
  margin: 0 20px 0 0;
  flex-shrink: 0;
  font-size: 100px;
  border-width: 3px;
  border-style: solid;
  border-color: #00754b;
  padding: 30px;
  position: relative;
}

.element img {
  width: 121px;
  height: 121px;
}

.el-rep {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  opacity: 0;
  padding: 30px;
  border-width: 3px;
  border-style: solid;
  border-color: #00754b;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 0;
  overflow: hidden;
  transition: 0.3s ease;
}

.el-rep a {
  color: black;
}

.element:hover .el-rep {
  opacity: 1;
  width: 100%;
}

.el-repp {
  background-color: #00754b;
  width: 500px;
  height: 350px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 30px;
  border-width: 3px;
  border-style: solid;
  border-color: #00754b;
}

.cs {
  font-size: 20px;
  margin-top: 20px;
  color: white;
  width: 100px;
  text-decoration: none;
}

.el-rep img {
  width: 280px;
}

.kwa {
  margin-left: 7px;
}

.kcs {
  font-size: 50px;
  position: absolute;
  bottom: 20px;
  text-decoration: none;
  color: black;
}

.k-app {
  width: 600px;
  color: #00754b;
  font-size: xx-large;
}

.k-desc {
  font-size: 30px;
  width: 700px;
  margin-top: 20px;
  font-family: "Work sans";
}

.work {
  margin-left: 40px;
  position: relative;
}

.work-title {
  font-family: "Vollkorn";
  font-size: 170px;
  font-weight: 500;
  color: #161313;
  opacity: 0.3;
}

.slt-p {
  position: absolute;
  top: 150px;
  left: 0;
  font-size: 40px;
}

/* IMG SCROLL */

.img-wrapper {
  position: relative;
  display: flex;
  padding-left: 90px;
}

.img-cont {
  width: 100%;
}

.img-cont1 {
  width: 100%;
  height: 573px;
}

/* IMAGE SCROLL*/

.element-wrapper2 .f-img {
  background: url(../images/cover.png);
  position: relative;
  background-size: cover;
}

.element-wrapper2 .t-img {
  background: url(../images/thumbnail.png);
  position: relative;
  background-size: cover;
}

.img-rep {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255);
  opacity: 0;
  display: flex;
  align-items: flex-end;
  padding: 20px;
  width: 0;
  overflow: hidden;
  transition: 0.3s ease;
}

.f-img:hover .img-rep,
.t-img:hover .img-rep {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 1;
}

.mpp {
  font-size: 20px;
  color: black;
}

/* COMMUNITY SCROLL */

.second-wrapper .element {
  width: 680px;
  height: 680px;
  margin: 0 20px 0 0;
  flex-shrink: 0;
  font-size: 60px;
  border-width: 3px;
  border-style: solid;
  padding: 30px;
}

.second-wrapper element img {
  width: 80px;
}

.com-desc {
  font-size: 28px;
  margin-top: 20px;
  font-family: "Work sans";
}

.gdg {
  font-weight: bold;
  font-family: "Work sans";
  margin-top: 30px;
  font-size: 60px;
}

hr {
  background-color: black;
  height: 1px;
  border: none;
}

.role {
  font-size: 40px;
  font-family: "Work sans";
  font-weight: bold;
  margin-bottom: 20px;
}

/* CONTACT FORM */

.c-form {
  display: block;
  width: 100%;
  padding-right: 50px;
}

#contact {
  margin-bottom: 150px;
  width: 100%;
  position: relative;
}

.c-dil {
  position: absolute;
  right: 100px;
  top: -30px;
  width: 500px;
  height: 500px;
}

.ar-pfp {
  display: none;
}

form {
  font-family: "Work Sans";
  padding-right: 50px;
  width: 100%;
  height: 800px;
  border-radius: 15px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 150px;
}

.feedback-input {
  color: black;
  font-family: "Work Sans";
  background: transparent;
  font-weight: 400;
  font-size: 44px;
  border-radius: 0;
  margin-right: 0;
  line-height: 150px;
  padding: 13px 13px 13px 13px;
  margin-bottom: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
}
::placeholder {
  color: var(--c, black);
}

.feedback-input:focus {
  box-shadow: 0;
  color: black;
  transition: 0.4s ease;
  outline: none;
  border-bottom: 2px solid black;
  padding: 13px 13px 13px 13px;
}

.focused {
  color: black;
  border: black solid 3px;
}

textarea {
  width: 100%;
  height: 260px;
  line-height: 150%;
  resize: vertical;
}

#button-blue {
  font-family: "Vollkorn";
  font-weight: 400;
  font-size: 40px;
  width: fit-content;
  border: none;
  cursor: pointer;
  padding-top: 22px;
  padding-bottom: 22px;
  margin-top: -4px;
  font-weight: 700;
  transition: 0.3s ease;
  background: transparent;
}

#button-blue:hover {
  background-color: rgba(0, 0, 0, 0);
  color: black;
}

.submit {
  background: transparent;
}

.submit:hover {
  color: #d0f0c0;
}

.hhh {
  font-size: 80px;
  font-weight: 400;
  width: 90%;
  margin-top: 60px;
  margin-left: 40px;
  margin-bottom: 60px;
  font-family: "Vollkorn";
}

/* FOOTER */

footer {
  background-color: white;
  height: 100px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  color: black !important;
}

.ameen {
  color: black;
}

.stan {
  color: black;
}

.ft-icon {
  display: flex;
  justify-content: space-between;
  width: 150px;
  align-items: flex-end;
}

.ft-icon div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.ft-icon svg {
  width: 20px;
}

.ft-img-dm {
  background-color: white;
  filter: invert(100%);
}

.ft-a {
  font-family: "Vollkorn";
  font-weight: bold;
  font-size: 20px;
}

.ft-i {
  font-family: "Work sans";
  font-size: 20px;
  font-weight: bold;
}

footer img {
  width: 20px;
}

/* RESPONSIVENESS */

@media (min-width: 1200px) {
  .a-info {
    display: flex;
    margin-bottom: 50px;
  }

  .a-infot {
    margin-top: 0;
    width: 850px;
  }

  .a-infob {
    font-size: large;
    width: 600px;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .greeting {
    position: relative;
    font-family: PT Serif;
    font-size: 100px;
    width: 900px;
    margin: 70px 0 30px;
  }

  .rotate {
    animation: rotation 8s infinite linear;
    position: absolute;
    top: 150px;
    left: 620px;
    width: 160px;
    height: 160px;
  }

  .link {
    font-size: large;
    width: 400px;
    height: 40px;
  }

  .pfp-cont {
    margin-top: 150px;
    margin-right: 300px;
    width: 200px;
    display: block;
  }

  .pfp-bg {
    width: 250px;
    height: 300px;
    background-color: black;
    position: relative;
    border-radius: 250px 250px 0 0;
  }

  .pfp {
    width: 250px;
  }

  .scroll {
    display: block;
    text-decoration: none;
    color: black;
    position: absolute;
    right: 70px;
    bottom: 80px;
    transform: rotate(90deg);
  }

  .work-title {
    font-family: "Vollkorn";
    font-size: 90px;
    font-weight: 500;
    color: #161313;
    opacity: 0.2;
  }

  .slt-p {
    position: absolute;
    top: 80px;
    left: 0;
    font-size: large;
  }

  .element-wrapper .element {
    height: 450px;
    width: 500px;
    margin: 0 20px 0 0;
    flex-shrink: 0;
    font-size: 60px;
    border-width: 3px;
    border-style: solid;
    border-color: #00754b;
    padding: 30px;
    position: relative;
  }

  .k-app {
    font-size: 50px;
    width: 70%;
    color: #00754b;
  }

  .k-desc {
    font-size: 15px;
    width: 330px;
    margin-top: 20px;
  }

  .kcs {
    font-size: 20px;
    position: absolute;
    bottom: 20px;
    text-decoration: none;
    color: black;
  }

  .second-wrapper .element {
    width: 450px;
    height: 450px;
    margin: 0 20px 0 0;
    flex-shrink: 0;
    font-size: 60px;
    border-width: 3px;
    border-style: solid;
    padding: 30px;
  }

  .gdg {
    font-weight: bold;
    font-family: "Work sans";
    margin-top: 30px;
    font-size: 30px;
  }

  .role {
    font-size: 20px;
    font-family: "Work sans";
    font-weight: bold;
    margin-bottom: 20px;
  }

  .com-desc {
    font-size: 14px;
    margin-top: 20px;
    font-family: "Work sans";
  }

  .accordion {
    width: 100%;
  }

  .sticky-wrapper,
  .sticky-wrapper2 {
    top: 100px;
  }

  .second-sticky {
    top: 100px;
  }

  .c-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
  }

  #contact {
    margin-bottom: 0;
  }

  .c-dil {
    width: 150px;
    height: 150px;
    right: 730px;
  }

  .hhh {
    font-size: 50px;
    font-weight: bold;
    width: 600px;
    margin-top: 60px;
    margin-left: 40px;
    font-family: "Vollkorn";
  }

  form {
    flex: 2;
    font-family: "Work Sans";
    padding-right: 50px;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
  }

  .feedback-input {
    color: black;
    font-family: "Work Sans";
    background: transparent;
    font-weight: 400;
    font-size: 14px;
    border-radius: 0;
    margin-right: 0;
    line-height: 50px;
    padding: 13px 13px 13px 13px;
    margin-bottom: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
  }

  textarea {
    width: 100%;
    height: 80px;
    line-height: 150%;
    resize: vertical;
  }

  #button-blue {
    font-family: "Vollkorn";
    font-weight: 400;
    font-size: 15px;
    width: 90px;
    border: none;
    cursor: pointer;
    padding-top: 22px;
    padding-bottom: 22px;
    margin-top: -4px;
    font-weight: 700;
    transition: 0.3s ease;
    background: transparent;
  }

  .ar-pfp {
    display: block;
    width: 250px;
    padding-bottom: 200px;
    flex: 1;
    animation: bounce 0.5s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
    animation-iteration-count: infinite;
  }

  @keyframes bounce {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(0, 100px, 0);
    }
  }
}

@supports (-webkit-touch-callout: none) {
  .a-infob {
    font-size: 40px;
  }
}
