:root {
  --color-primary: #2046f2;
  --color-secondary: #f4f5f6;
  --color-tertiary: #0d1013;
  --color-gray: #f6f6f6;
  --color-subtitle: #2046f2;
  --background-color-1: linear-gradient(145deg, #1e2024, #23272b);
  --background-color-2: #212428;
  --shadow-1: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  --shadow-2: inset 21px 21px 19px #181a1d, inset -21px -21px 19px #202225;
  --inner-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset,
    -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
  --shadow-white-3: 5px 5px 15px #d1d9e6, -5px -5px 15px #ffffff;
  --gradient-box-w: linear-gradient(145deg, #e2e8ec, #ffffff);
  --gradient-red-hover: linear-gradient(145deg, #2046f2, #2046f2);
  --color-heading: #ffffff;
  --color-heading-wv: #1e2125;
  --color-body: #878e99;
  --color-body-white: #3c3e41;
  --color-lightn: #c4cfde;
  --color-midgray: #878787;
  --color-light: #e4e6ea;
  --color-lighter: #ced0d4;
  --color-lightest: #f0f2f5;
  --color-border: #e6e6e6;
  --color-white: #ffffff;
  --color-white-75: rgba(255, 255, 255, 0.75);
  --color-success: #3eb75e;
  --color-danger: #ff0003;
  --color-warning: #ff8f3c;
  --color-info: #1ba2db;
  --color-facebook: #3b5997;
  --color-twitter: #1ba1f2;
  --color-youtube: #ed4141;
  --color-linkedin: #0077b5;
  --color-pinterest: #e60022;
  --color-instagram: #c231a1;
  --color-vimeo: #00adef;
  --color-twitch: #6441a3;
  --color-discord: #7289da;
}

.slide.slider-style-3
  .slider-wrapper
  .slider-info
  .user-info-top
  .user-info-header
  .user::after {
  content: "";
  position: absolute;
  transition: var(--transition);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  background: var(--color-primary);
  opacity: 0.2;
  z-index: -2;
  transform: translate(-50%, -50%);
}

.feather-user {
  background: var(--color-primary);
  padding: 10px;
  border-radius: 50%;
  stroke: white !important;
}

.feather {
  stroke: var(--color-primary);
}

.title {
  margin-bottom: 10px;
  width: 300px;
}

.title span {
  color: var(--color-primary);
  display: block;
}

.info {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 5px;
}

.disc {
  margin-bottom: 5px;
  text-align: center;
}

.cv {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

a.rn-btn,
button.rn-btn {
  border-radius: 6px;
  background: var(--color-primary);
  color: white;
  position: relative;
  font-size: 14px;
  font-weight: 500;
  border: 0 none;
  padding: 10px;
}

@media (max-width: 480px) {
  .info {
    justify-content: center;
  }

  .about__content-blurb {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .about__visual {
    width: 180px;
  }

  .work__content-blurb {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
